#DataTypeRadioHolder {
    display: inline-flex;
}

.DataTypeRadioButton {
    margin: 5px;
}

.addForm {
    display: inline-grid;
}

.inputHolder {
    display: inline-grid;
    width: 100%;
}

.inputHolder > input,
.inputHolder > select,
.inputHolder > div > input {
    padding: 5px;
    width: 50%;
    margin: 5px;
}

.inputHolder > button {
    margin: 5px;
    width: 10%;
    padding: 2px;
}

.moveInputHolder {
    display: inline-grid;
}

.movePreview {
    height: 24px;
}

.movePreview > img {
    padding: 3px;
}

.exCheckbox {
    
}